PythonClient/password
PythonClient/client.log
PythonClient/client_linux.conf
PythonClient/client.conf
PythonClient/run.bat
AndroidWrapper/app/src/main/python/password
AndroidWrapper/app/src/main/python/*.py
!AndroidWrapper/app/src/main/python/main.py

__pycache__/

AndroidWrapper/**/.idea/
AndroidWrapper/**/*.apk
AndroidWrapper/**/*.aar
AndroidWrapper/**/*.ap_
AndroidWrapper/**/*.aab
AndroidWrapper/**/*.dex
AndroidWrapper/**/*.class
AndroidWrapper/**/bin/
AndroidWrapper/**/gen/
AndroidWrapper/**/out/
AndroidWrapper/**/release/
AndroidWrapper/**/.gradle/
AndroidWrapper/**/build/
AndroidWrapper/**/local.properties
AndroidWrapper/**/proguard/
AndroidWrapper/**/*.log
AndroidWrapper/**/.navigation/
AndroidWrapper/**/captures/
AndroidWrapper/**/*.iml
AndroidWrapper/**/*.jks
AndroidWrapper/**/*.keystore
AndroidWrapper/**/.externalNativeBuild
AndroidWrapper/**/.cxx/
AndroidWrapper/**/google-services.json
AndroidWrapper/**/freeline.py
AndroidWrapper/**/freeline/
AndroidWrapper/**/freeline_project_description.json
AndroidWrapper/**/fastlane/report.xml
AndroidWrapper/**/fastlane/Preview.html
AndroidWrapper/**/fastlane/screenshots
AndroidWrapper/**/fastlane/test_output
AndroidWrapper/**/fastlane/readme.md
AndroidWrapper/**/vcs.xml
AndroidWrapper/**/lint/intermediates/
AndroidWrapper/**/lint/generated/
AndroidWrapper/**/lint/outputs/
AndroidWrapper/**/lint/tmp/
AndroidWrapper/**/lint/reports/

